
#noCart {
  text-align: center;
}

ion-fab {
  animation-name: expand;
  animation-duration: 300ms;
}

#closeIcon {
  font-size: 1.8em;
}

@media(min-width: 1000px) {
  main {
    margin-left: 10em;
    margin-right: 10em;
  }
}

@keyframes expand {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}