
#noCart {
  text-align: center;
}

ion-fab {
  animation-name: expand;
  animation-duration: 300ms;
}

#closeIcon {
  font-size: 1.8em;
}

@keyframes expand {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}