<ion-header>
  <ion-toolbar color='dark'>
    <ion-title>IonShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf='products;else no_faves' no-lines>
    <ion-item button *ngFor="let product of products">
      <ion-avatar slot='start'>
        <img src='{{product.item.image}}' alt='{{product.item.title}}'>
      </ion-avatar>

      <ion-label>
        <h3>{{product.item.title}}</h3>
        <p>Price: ${{product.item.price}}</p>
      </ion-label>

      <ion-button (click)='remove(product)' color='danger' fill='clear' slot='end'>
        <ion-icon name='trash'></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-template #no_faves>
    <h1 id='noFave'>No Favorites yet</h1>
  </ng-template>
</ion-content>