main {
  display: flex;
  flex-direction: column;

  img {
    object-fit: contain;
    height: 300px;
  }

  #buttonBlock {
    display: flex;
    justify-content: center;
  }

  #price {
    color: grey;
    font-size: 1.2em;
  }

  animation-name: fadein;
  animation-duration: 500ms;

  @keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
}

#starButton {
  position: absolute;
  right: 10px;
}

#selectItem {
  margin-bottom: 2em;
}

#skeletonImage {
  background: #e6e6e6;
  width: 100%;
  height: 300px;
  margin-bottom: 2em;
}

#buyButton {
  animation-name: expand;
  animation-duration: 300ms;
}

@keyframes expand {
  from {
    transform: scale3d(0, 0, 0);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


#saveIcon {
  font-size: 1.8em;
}