<ion-header>
  <ion-toolbar color='dark'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/(home:home)"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <main>
  <ion-button (click)='addToFaves(clothingItem)' id='starButton' icon-only fill='clear'>
    <ion-icon id='saveIcon' [name]='savedState'></ion-icon>
  </ion-button>

  <div id='contentDiv' *ngIf='clothingItem;else skeleton_content'>
    <img src='{{clothingItem.image}}'>
    <h1>{{clothingItem.title}}</h1>

    <p id='price'>${{clothingItem.price}}</p>

    <ion-item (click)="pickSize()" id='selectItem'>
      <ion-icon name='shirt' slot='start'></ion-icon>
      <ion-label>{{size}}</ion-label>
    </ion-item>

    <p *ngIf='cleanedDesc' innerHTML='{{cleanedDesc}}'></p>
  </div>

  <ng-template #skeleton_content>
    <div id='skeletonImage'></div>

    <ion-skeleton-text width='300px'></ion-skeleton-text>
    <ion-skeleton-text width='350px'></ion-skeleton-text>
    <ion-skeleton-text width='350px'></ion-skeleton-text>
    <ion-skeleton-text width='350px'></ion-skeleton-text>
  </ng-template>
  </main>
</ion-content>

<ion-fab id='buyButton' *ngIf='size' vertical='bottom' horizontal='end'>
  <ion-fab-button>
    <ion-icon name='more'></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button color='primary' (click)='addToCart(clothingItem)'>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color='secondary' (click)="share(clothingItem)">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>