<ion-header>
  <ion-toolbar color='dark'>
    <ion-title class='centerTitle'>IonShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='typeBar'>
    <ion-button (click)="getProducts('mens_tshirts')" color='dark' round>Mens Tshirts</ion-button>
    <ion-button (click)="getProducts('ladies_tshirts')" color='dark' round>Womens Tshirts</ion-button>
    <ion-button (click)="getProducts('mens_outerwear')" color='dark' round>Mens Outerwear</ion-button>
    <ion-button (click)="getProducts('ladies_outerwear')" color='dark' round>Womens Outerwear</ion-button>
  </div>

  <main>
    <div class='gridItem' (click)='goToDetail(product.name)' *ngFor="let product of products">
      <app-lazy-img src='{{product.image}}' alt='{{product.title}}'></app-lazy-img>

      <h3>{{product.title}}</h3>
      <p>Price: ${{product.price}}</p>
    </div>
  </main>
</ion-content>