<ion-header>
  <ion-toolbar color='dark'>
    <ion-title class='centerTitle'>IonShop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='typeBar'>
    <div class='typeSelect' [class.selected]='category === "mens_tshirts"' (click)="getProducts('mens_tshirts')">
      <div>Mens Tshirts</div>
    </div>
    <div class='typeSelect' [class.selected]='category === "ladies_tshirts"' (click)="getProducts('ladies_tshirts')">
      <div>Womens Tshirts</div>
    </div>
    <div class='typeSelect' [class.selected]='category === "mens_outerwear"' (click)="getProducts('mens_outerwear')">
      <div>Mens Outerwear</div>
    </div>
    <div class='typeSelect' [class.selected]='category === "ladies_outerwear"' (click)="getProducts('ladies_outerwear')">
      <div>Womens Outerwear</div>
    </div>
  </div>

  <main>
    <div class='gridItem' (click)='goToDetail(product.name)' *ngFor="let product of products | async">
      <app-lazy-img [src]='product.image' [alt]='product.title'></app-lazy-img>

      <h3>{{product.title}}</h3>
      <p>Price: ${{product.price}}</p>
    </div>
  </main>
</ion-content>