.typeBar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 10px;

  .typeSelect {
    text-transform: uppercase;
    padding: 1.2em;
    width: 200px;
    text-align: center;

    div {
      white-space: nowrap;
    }
  }

  .typeSelect.selected {
    background-color: white;
    border-radius: 20px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.gridItem {
  text-align: center;
  padding: 16px;
  background: white;
  margin: 8px;

  h3 {
    font-size: 14px;
    font-weight: bold;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}